.ver-btn {
  background: #007BFF;
  color: #fff;
  padding: 10px 14px;
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.ver-btn:hover {
  background: #0056b3;
}
